.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1586px;
  height: 839px;
  object-fit: cover;
}
.mn-hnh-sau-khi-iu-chnh-th-child {
  position: absolute;
  top: 136px;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-darkgoldenrod);
  width: 1440px;
  height: 948px;
}
.admin,
.sa1-icon {
  position: absolute;
  top: 191.5px;
  left: 89px;
  width: 1262px;
  height: 786px;
}
.admin {
  top: 313px;
  left: 178px;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 66px;
  height: 31px;
}
.artboard-1-1-1,
.shield-person-icon {
  position: absolute;
  top: 294px;
  left: 107px;
  width: 85px;
  height: 85px;
}
.artboard-1-1-1 {
  top: 874px;
  left: 105px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.div,
.qun-l-nhn {
  position: absolute;
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.div {
  top: 932px;
  left: 869px;
  text-align: left;
  width: 57px;
  height: 39px;
}
.qun-l-nhn {
  top: 425px;
  left: 196px;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.badge-icon {
  position: absolute;
  top: 423px;
  left: 89px;
  width: 107px;
  height: 108.01px;
}
.mn-hnh-sau-khi-iu-chnh-th-item,
.sa2 {
  left: 88.5px;
  border-top: 1px solid var(--color-darkgoldenrod);
  width: 346px;
  height: 1px;
}
.mn-hnh-sau-khi-iu-chnh-th-item {
  position: absolute;
  top: 749.5px;
  filter: blur(4px);
  box-sizing: border-box;
}
.sa2 {
  top: 642.5px;
}
.line-div,
.mn-hnh-sau-khi-iu-chnh-th-inner,
.sa2,
.sa3 {
  position: absolute;
  filter: blur(4px);
  box-sizing: border-box;
}
.sa3 {
  top: 531.5px;
  left: 88.5px;
  border-top: 1px solid var(--color-darkgoldenrod);
  width: 346px;
  height: 1px;
}
.line-div,
.mn-hnh-sau-khi-iu-chnh-th-inner {
  top: 186.48px;
  left: 433.5px;
  border-right: 1px solid var(--color-darkgoldenrod);
  width: 1px;
  height: 792.02px;
}
.line-div {
  top: 196.5px;
  left: 92.5px;
}
.arrow-back-icon {
  position: absolute;
  top: 211px;
  left: 107px;
  width: 48px;
  height: 48px;
}
.mn-hnh-sau-khi-iu-chnh-th-child1 {
  position: absolute;
  top: 424.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.mn-hnh-sau-khi-iu-chnh-th-child2,
.rectangle-div {
  position: absolute;
  top: 248px;
  left: 489px;
  border-radius: var(--br-xl);
  width: 816px;
  height: 678px;
}
.rectangle-div {
  top: 277px;
  left: 516px;
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 304px;
}
.ng-lng {
  position: absolute;
  top: 480px;
  left: 1019px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 42px;
}
.line-icon,
.monetization-on {
  position: absolute;
  top: 365px;
  left: 1148.5px;
  width: 92px;
  height: 217.5px;
}
.monetization-on {
  top: 382px;
  left: 1031px;
  width: 91px;
  height: 92px;
}
.ngy-ng-12052003 {
  margin: 0;
  font-size: var(--font-size-11xl);
}
.nguyn-phc-long,
.s-tin-tm-container {
  position: absolute;
  left: 536px;
  text-align: left;
}
.s-tin-tm-container {
  top: 414px;
  display: inline-block;
  width: 455px;
  height: 83px;
  font-size: var(--font-size-15xl);
}
.nguyn-phc-long {
  top: 277px;
  font-size: var(--font-size-17xl);
  display: flex;
  align-items: center;
  width: 412px;
  height: 75px;
}
.mn-hnh-sau-khi-iu-chnh-th-child3 {
  position: absolute;
  top: 594px;
  left: 516px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 304px;
}
.request-quote-icon {
  position: absolute;
  height: 6.18%;
  width: 3.52%;
  top: 69.14%;
  right: 13.78%;
  bottom: 24.67%;
  left: 82.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.monetization-on-icon {
  position: absolute;
  top: 696px;
  left: 1031px;
  width: 91px;
  height: 92px;
}
.tnh-lng {
  top: 802px;
  left: 1018px;
  justify-content: center;
  width: 115px;
  height: 42px;
}
.ng-lng1,
.phm-minh-lc,
.tnh-lng {
  position: absolute;
  display: flex;
  align-items: center;
}
.ng-lng1 {
  top: 802px;
  left: 1143px;
  justify-content: center;
  width: 146px;
  height: 46px;
}
.phm-minh-lc {
  top: 592px;
  left: 536px;
  font-size: var(--font-size-17xl);
  text-align: left;
  width: 412px;
  height: 75px;
}
.list-icon,
.list-icon1 {
  position: absolute;
  top: 281px;
  left: 1158px;
  width: 92px;
  height: 92.01px;
}
.list-icon1 {
  top: 592px;
}
.mn-hnh-sau-khi-iu-chnh-th-child4,
.mn-hnh-sau-khi-iu-chnh-th-child5 {
  position: absolute;
  top: 363px;
  left: 516px;
  width: 761px;
  height: 2.01px;
  mix-blend-mode: lighten;
}
.mn-hnh-sau-khi-iu-chnh-th-child5 {
  top: 676px;
}
.mn-hnh-sau-khi-iu-chnh-th-child6 {
  position: absolute;
  top: 677px;
  left: 1148.5px;
  width: 1px;
  height: 221px;
}
.mn-hnh-sau-khi-iu-chnh-th-child7,
.mn-hnh-sau-khi-iu-chnh-th-child8 {
  position: absolute;
  top: 364.5px;
  left: 1007.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 230px;
}
.mn-hnh-sau-khi-iu-chnh-th-child8 {
  top: 676.5px;
}
.hy {
  position: absolute;
  top: 480px;
  left: 1143px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 46px;
}
.m-nhn-vin {
  margin: 0;
}
.m-nhn-vin-container1 {
  line-break: anywhere;
  width: 100%;
}
.m-nhn-vin-container {
  position: absolute;
  top: 696px;
  left: 536px;
  font-size: var(--font-size-11xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 483px;
  height: 228px;
}
.mn-hnh-sau-khi-iu-chnh-th-child9 {
  position: absolute;
  top: 526px;
  left: 88px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 4px;
}
.mn-hnh-sau-khi-iu-chnh-th-child10,
.sa-4,
.sa-5-icon {
  position: absolute;
  top: 645px;
  left: 93px;
  width: 337px;
  height: 102px;
}
.sa-4,
.sa-5-icon {
  top: 512px;
  left: 73px;
  width: 123px;
  height: 120.97px;
}
.sa-4 {
  top: 531px;
  left: 194px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.close-icon,
.request-quote-icon1 {
  position: absolute;
  top: 385px;
  left: 1176px;
  width: 79px;
  height: 80px;
}
.request-quote-icon1 {
  left: 1039px;
  width: 81px;
}
.paid-icon,
.tnh-lng1 {
  position: absolute;
  top: 643px;
  left: 88px;
  width: 107.5px;
  height: 107px;
}
.tnh-lng1 {
  left: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.mn-hnh-sau-khi-iu-chnh-th-child11 {
  position: absolute;
  top: 315px;
  left: 410px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 620px;
  height: 351px;
}
.lu-thnh-cng {
  position: absolute;
  top: 333px;
  left: 485px;
  font-size: var(--font-size-17xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 482px;
  height: 107px;
}
.check-circle-icon {
  position: absolute;
  top: 444px;
  left: 626px;
  width: 200px;
  height: 200px;
}
.mn-hnh-sau-khi-iu-chnh-th {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
