.rectangle-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 839px;
  object-fit: cover;
}
.mn-hnh-chnh-child,
.mn-hnh-chnh-item {
  position: absolute;
  border-radius: var(--br-17xl);
}
.mn-hnh-chnh-child {
  top: 300px;
  left: 0;
  background-color: var(--color-darkgoldenrod);
  width: 1440px;
  height: 774px;
}
.mn-hnh-chnh-item {
  top: 379px;
  left: 134px;
  width: 1194px;
  height: 563px;
}
.bng-chm-cng6 {
  position: absolute;
  top: 843px;
  left: 437px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 306px;
  height: 49px;
}
.badge-icon16,
.paid-icon16 {
  position: absolute;
  top: 401px;
  left: 766px;
  width: 208px;
  height: 205px;
}
.badge-icon16 {
  left: 250px;
  width: 213px;
  height: 221.67px;
}
.ng-xut1,
.qun-l-nhn15,
.tnh-lng24 {
  position: absolute;
  top: 843px;
  left: 974px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 306px;
  height: 49px;
}
.qun-l-nhn15,
.tnh-lng24 {
  top: 612px;
  left: 204px;
}
.tnh-lng24 {
  left: 720px;
}
.logout-icon1 {
  position: absolute;
  top: 669px;
  left: 1027px;
  width: 200px;
  height: 199.07px;
}
.content-paste-icon6 {
  position: absolute;
  top: 634px;
  left: 483px;
  width: 213px;
  height: 209.49px;
}
.artboard-1-1-116 {
  position: absolute;
  top: 830px;
  left: 154px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.admin16 {
  position: absolute;
  top: 413px;
  left: 1243px;
  font-size: var(--font-size-5xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 66px;
  height: 31px;
}

.mn-hnh-chnh {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
.shield-person-icon12 {
  position: absolute;
  top: 395.94px;
  left: 1171.94px;
  width: 85px;
  height: 85px;
  bottom: 558.98px;

}
