.rectangle-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 839px;
  object-fit: cover;
}
.mn-hnh-tnh-xut-child15 {
  position: absolute;
  top: 136px;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-darkgoldenrod);
  width: 1440px;
  height: 948px;
}
.admin10,
.sa1-icon6 {
  position: absolute;
  top: 191.5px;
  left: 89px;
  width: 1262px;
  height: 786px;
}
.admin10 {
  top: 313px;
  left: 178px;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 66px;
  height: 31px;
}
.shield-person-icon10 {
  position: absolute;
  top: 294px;
  left: 107px;
  width: 85px;
  height: 85px;
}
.artboard-1-1-110 {
  position: absolute;
  top: 874px;
  left: 105px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.div8,
.qun-l-nhn9 {
  position: absolute;
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.div8 {
  top: 932px;
  left: 869px;
  text-align: left;
  width: 57px;
  height: 39px;
}
.qun-l-nhn9 {
  top: 425px;
  left: 196px;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.badge-icon10 {
  position: absolute;
  top: 423px;
  left: 89px;
  width: 107px;
  height: 108.01px;
}
.mn-hnh-tnh-xut-child16,
.sa26 {
  left: 88.5px;
  border-top: 1px solid var(--color-darkgoldenrod);
  width: 346px;
  height: 1px;
}
.mn-hnh-tnh-xut-child16 {
  position: absolute;
  top: 749.5px;
  filter: blur(4px);
  box-sizing: border-box;
}
.sa26 {
  top: 642.5px;
}
.mn-hnh-tnh-xut-child17,
.mn-hnh-tnh-xut-child18,
.sa26,
.sa36 {
  position: absolute;
  filter: blur(4px);
  box-sizing: border-box;
}
.sa36 {
  top: 531.5px;
  left: 88.5px;
  border-top: 1px solid var(--color-darkgoldenrod);
  width: 346px;
  height: 1px;
}
.mn-hnh-tnh-xut-child17,
.mn-hnh-tnh-xut-child18 {
  top: 186.48px;
  left: 433.5px;
  border-right: 1px solid var(--color-darkgoldenrod);
  width: 1px;
  height: 792.02px;
}
.mn-hnh-tnh-xut-child18 {
  top: 196.5px;
  left: 92.5px;
}
.arrow-back-icon10 {
  position: absolute;
  top: 211px;
  left: 107px;
  width: 48px;
  height: 48px;
}
.mn-hnh-tnh-xut-child19 {
  position: absolute;
  top: 424.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.mn-hnh-tnh-xut-child20,
.mn-hnh-tnh-xut-child21 {
  position: absolute;
  top: 248px;
  left: 489px;
  border-radius: var(--br-xl);
  width: 816px;
  height: 678px;
}
.mn-hnh-tnh-xut-child21 {
  top: 277px;
  left: 516px;
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 304px;
}
.close-icon6,
.mn-hnh-tnh-xut-child22 {
  position: absolute;
  top: 365px;
  left: 1148.5px;
  width: 1px;
  height: 217.5px;
}
.close-icon6 {
  top: 387px;
  left: 1177px;
  width: 79px;
  height: 80px;
}
.monetization-on-icon6 {
  position: absolute;
  top: 382px;
  left: 1031px;
  width: 91px;
  height: 92px;
}
.ngy-tnh-lng1 {
  margin: 0;
}
.tng-lng-600000-vnd1 {
  margin: 0;
  font-size: var(--font-size-15xl);
}
.nguyn-phc-long13,
.ngy-tnh-lng-container1 {
  position: absolute;
  left: 536px;
  text-align: left;
}
.ngy-tnh-lng-container1 {
  top: 382px;
  white-space: pre-wrap;
  display: inline-block;
  width: 455px;
  height: 164px;
  font-size: var(--font-size-11xl);
}
.nguyn-phc-long13 {
  top: 277px;
  font-size: var(--font-size-17xl);
  display: flex;
  align-items: center;
  width: 412px;
  height: 75px;
}
.mn-hnh-tnh-xut-child23 {
  position: absolute;
  top: 594px;
  left: 516px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 304px;
}
.ng-lng8,
.tnh-lng15 {
  position: absolute;
  top: 802px;
  left: 1143px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 46px;
}
.tnh-lng15 {
  left: 1018px;
  width: 115px;
  height: 42px;
}
.request-quote-icon8 {
  position: absolute;
  height: 6.18%;
  width: 3.52%;
  top: 69.14%;
  right: 13.78%;
  bottom: 24.67%;
  left: 82.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.monetization-on-icon7,
.phm-minh-lc10 {
  position: absolute;
  top: 696px;
  left: 1031px;
  width: 91px;
  height: 92px;
}
.phm-minh-lc10 {
  top: 592px;
  left: 536px;
  font-size: var(--font-size-17xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 412px;
  height: 75px;
}
.list-icon26,
.list-icon27 {
  position: absolute;
  top: 281px;
  left: 1158px;
  width: 92px;
  height: 92.01px;
}
.list-icon27 {
  top: 592px;
}
.mn-hnh-tnh-xut-child24,
.mn-hnh-tnh-xut-child25 {
  position: absolute;
  top: 363px;
  left: 516px;
  width: 761px;
  height: 2.01px;
  mix-blend-mode: lighten;
}
.mn-hnh-tnh-xut-child25 {
  top: 676px;
}
.mn-hnh-tnh-xut-child26 {
  position: absolute;
  top: 677px;
  left: 1148.5px;
  width: 1px;
  height: 221px;
}
.mn-hnh-tnh-xut-child27,
.mn-hnh-tnh-xut-child28 {
  position: absolute;
  top: 364.5px;
  left: 1007.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 230px;
}
.mn-hnh-tnh-xut-child28 {
  top: 676.5px;
}
.hy7,
.thanh-ton1 {
  position: absolute;
  top: 480px;
  left: 1143px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 46px;
}
.thanh-ton1 {
  left: 1019px;
  width: 115px;
  height: 42px;
}
.m-nhn-vin-container19 {
  line-break: anywhere;
  width: 100%;
}
.m-nhn-vin-container18 {
  position: absolute;
  top: 696px;
  left: 536px;
  font-size: var(--font-size-11xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 483px;
  height: 228px;
}
.mn-hnh-tnh-xut-child29 {
  position: absolute;
  top: 526px;
  left: 88px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 4px;
}
.mn-hnh-tnh-xut-child30 {
  position: absolute;
  top: 644px;
  left: 93px;
  background-color: var(--color-darkgoldenrod);
  width: 337px;
  height: 102px;
}
.sa-46,
.sa-5-icon6 {
  position: absolute;
  top: 512px;
  left: 73px;
  width: 123px;
  height: 120.97px;
}
.sa-46 {
  top: 531px;
  left: 194px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.paid-icon10,
.tnh-lng16 {
  position: absolute;
  top: 643px;
  left: 88px;
  width: 107.5px;
  height: 107px;
}
.tnh-lng16 {
  left: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.mn-hnh-tnh-xut1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
