.rectangle-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 839px;
  object-fit: cover;
}
.mn-hnh-sau-khi-iu-chnh-th-child12 {
  position: absolute;
  top: 136px;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-darkgoldenrod);
  width: 1440px;
  height: 948px;
}
.admin1,
.sa1-icon1 {
  position: absolute;
  top: 191.5px;
  left: 89px;
  width: 1262px;
  height: 786px;
}
.admin1 {
  top: 313px;
  left: 178px;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 66px;
  height: 31px;
}
.artboard-1-1-11,
.shield-person-icon1 {
  position: absolute;
  top: 294px;
  left: 107px;
  width: 85px;
  height: 85px;
}
.artboard-1-1-11 {
  top: 874px;
  left: 105px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.div1,
.qun-l-nhn1 {
  position: absolute;
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.div1 {
  top: 932px;
  left: 869px;
  text-align: left;
  width: 57px;
  height: 39px;
}
.qun-l-nhn1 {
  top: 425px;
  left: 196px;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.badge-icon1 {
  position: absolute;
  top: 423px;
  left: 89px;
  width: 107px;
  height: 108.01px;
}
.mn-hnh-sau-khi-iu-chnh-th-child13,
.sa21,
.sa31 {
  position: absolute;
  top: 749.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.sa21,
.sa31 {
  top: 642.5px;
}
.sa31 {
  top: 531.5px;
}
.mn-hnh-sau-khi-iu-chnh-th-child14,
.mn-hnh-sau-khi-iu-chnh-th-child15 {
  position: absolute;
  top: 186.48px;
  left: 433.5px;
  filter: blur(4px);
  border-right: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 1px;
  height: 792.02px;
}
.mn-hnh-sau-khi-iu-chnh-th-child15 {
  top: 196.5px;
  left: 92.5px;
}
.arrow-back-icon1 {
  position: absolute;
  top: 211px;
  left: 107px;
  width: 48px;
  height: 48px;
}
.mn-hnh-sau-khi-iu-chnh-th-child16 {
  position: absolute;
  top: 424.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.mn-hnh-sau-khi-iu-chnh-th-child17,
.mn-hnh-sau-khi-iu-chnh-th-child18 {
  position: absolute;
  top: 248px;
  left: 489px;
  border-radius: var(--br-xl);
  width: 816px;
  height: 678px;
}
.mn-hnh-sau-khi-iu-chnh-th-child18 {
  top: 277px;
  left: 516px;
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 304px;
}
.ng-lng2 {
  position: absolute;
  top: 480px;
  left: 1019px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 42px;
}
.mn-hnh-sau-khi-iu-chnh-th-child19 {
  position: absolute;
  top: 365px;
  left: 1148.5px;
  width: 1px;
  height: 217.5px;
}
.monetization-on1 {
  position: absolute;
  top: 382px;
  left: 1031px;
  width: 91px;
  height: 92px;
}
.s-tin-tm-ng-6000001 {
  margin: 0;
}
.ngy-ng-120520031 {
  margin: 0;
  font-size: var(--font-size-11xl);
}
.nguyn-phc-long1,
.s-tin-tm-container1 {
  position: absolute;
  left: 536px;
  text-align: left;
}
.s-tin-tm-container1 {
  top: 414px;
  display: inline-block;
  width: 455px;
  height: 83px;
  font-size: var(--font-size-15xl);
}
.nguyn-phc-long1 {
  top: 277px;
  font-size: var(--font-size-17xl);
  display: flex;
  align-items: center;
  width: 412px;
  height: 75px;
}
.mn-hnh-sau-khi-iu-chnh-th-child20 {
  position: absolute;
  top: 594px;
  left: 516px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 304px;
}
.request-quote-icon2 {
  position: absolute;
  height: 6.18%;
  width: 3.52%;
  top: 69.14%;
  right: 13.78%;
  bottom: 24.67%;
  left: 82.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.monetization-on-icon1 {
  position: absolute;
  top: 696px;
  left: 1031px;
  width: 91px;
  height: 92px;
}
.tnh-lng2 {
  top: 802px;
  left: 1018px;
  justify-content: center;
  width: 115px;
  height: 42px;
}
.ng-lng3,
.phm-minh-lc1,
.tnh-lng2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.ng-lng3 {
  top: 802px;
  left: 1143px;
  justify-content: center;
  width: 146px;
  height: 46px;
}
.phm-minh-lc1 {
  top: 592px;
  left: 536px;
  font-size: var(--font-size-17xl);
  text-align: left;
  width: 412px;
  height: 75px;
}
.list-icon3,
.list-icon4 {
  position: absolute;
  top: 281px;
  left: 1158px;
  width: 92px;
  height: 92.01px;
}
.list-icon4 {
  top: 592px;
}
.mn-hnh-sau-khi-iu-chnh-th-child21,
.mn-hnh-sau-khi-iu-chnh-th-child22 {
  position: absolute;
  top: 363px;
  left: 516px;
  width: 761px;
  height: 2.01px;
  mix-blend-mode: lighten;
}
.mn-hnh-sau-khi-iu-chnh-th-child22 {
  top: 676px;
}
.mn-hnh-sau-khi-iu-chnh-th-child23 {
  position: absolute;
  top: 677px;
  left: 1148.5px;
  width: 1px;
  height: 221px;
}
.mn-hnh-sau-khi-iu-chnh-th-child24,
.mn-hnh-sau-khi-iu-chnh-th-child25 {
  position: absolute;
  top: 364.5px;
  left: 1007.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 230px;
}
.mn-hnh-sau-khi-iu-chnh-th-child25 {
  top: 676.5px;
}
.hy1 {
  position: absolute;
  top: 480px;
  left: 1143px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 46px;
}
.m-nhn-vin-container3 {
  line-break: anywhere;
  width: 100%;
}
.m-nhn-vin-container2 {
  position: absolute;
  top: 696px;
  left: 536px;
  font-size: var(--font-size-11xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 483px;
  height: 228px;
}
.mn-hnh-sau-khi-iu-chnh-th-child26 {
  position: absolute;
  top: 526px;
  left: 88px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 4px;
}
.mn-hnh-sau-khi-iu-chnh-th-child27 {
  position: absolute;
  top: 645px;
  left: 93px;
  width: 337px;
  height: 102px;
}
.sa-41,
.sa-5-icon1 {
  position: absolute;
  top: 512px;
  left: 73px;
  width: 123px;
  height: 120.97px;
}
.sa-41 {
  top: 531px;
  left: 194px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.close-icon1,
.request-quote-icon3 {
  position: absolute;
  top: 385px;
  left: 1176px;
  width: 79px;
  height: 80px;
}
.request-quote-icon3 {
  left: 1039px;
  width: 81px;
}
.paid-icon1,
.tnh-lng3 {
  position: absolute;
  top: 643px;
  left: 88px;
  width: 107.5px;
  height: 107px;
}
.tnh-lng3 {
  left: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.mn-hnh-sau-khi-iu-chnh-th1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
