.rectangle-icon14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 839px;
  object-fit: cover;
}
.xem-chi-tit-thng-tin-nhn-vi-child16 {
  position: absolute;
  top: 136px;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-darkgoldenrod);
  width: 1440px;
  height: 948px;
}
.xem-chi-tit-thng-tin-nhn-vi-child17 {
  position: absolute;
  top: 191.5px;
  left: 89px;
  width: 1262px;
  height: 786px;
}
.artboard-1-1-114 {
  position: absolute;
  top: 874px;
  left: 105px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.xem-chi-tit-thng-tin-nhn-vi-child18 {
  position: absolute;
  top: 428px;
  left: 93px;
  background-color: var(--color-darkgoldenrod);
  width: 337px;
  height: 102px;
}
.bng-chm-cng5 {
  top: 531px;
  left: 194px;
  color: var(--color-black);
  justify-content: center;
  width: 227px;
  height: 106px;
}
.bng-chm-cng5,
.div12,
.qun-l-nhn13 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div12 {
  top: 932px;
  left: 869px;
  color: var(--color-black);
  text-align: left;
  width: 57px;
  height: 39px;
}
.qun-l-nhn13 {
  top: 425px;
  left: 196px;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.content-paste-icon4 {
  position: absolute;
  top: 512px;
  left: 73px;
  width: 123px;
  height: 120.97px;
}
.badge-icon14,
.paid-icon14 {
  position: absolute;
  top: 643px;
  left: 88px;
  width: 107.5px;
  height: 107px;
}
.badge-icon14 {
  top: 423px;
  left: 89px;
  width: 107px;
  height: 108.01px;
}
.xem-chi-tit-thng-tin-nhn-vi-child19,
.xem-chi-tit-thng-tin-nhn-vi-child20,
.xem-chi-tit-thng-tin-nhn-vi-child21 {
  position: absolute;
  top: 749.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.xem-chi-tit-thng-tin-nhn-vi-child20,
.xem-chi-tit-thng-tin-nhn-vi-child21 {
  top: 642.5px;
}
.xem-chi-tit-thng-tin-nhn-vi-child21 {
  top: 531.5px;
}
.xem-chi-tit-thng-tin-nhn-vi-child22 {
  position: absolute;
  top: 186.48px;
  left: 433.5px;
  filter: blur(4px);
  border-right: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 1px;
  height: 792.02px;
}
.arrow-back-icon14 {
  position: absolute;
  top: 211px;
  left: 107px;
  width: 48px;
  height: 48px;
}
.xem-chi-tit-thng-tin-nhn-vi-child23 {
  position: absolute;
  top: 424.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.tnh-lng22 {
  position: absolute;
  top: 643px;
  left: 196px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.xem-chi-tit-thng-tin-nhn-vi-child24 {
  position: absolute;
  top: 248px;
  left: 489px;
  border-radius: var(--br-xl);
  width: 816px;
  height: 678px;
}
.xem-chi-tit-thng-tin-nhn-vi-child25 {
  position: absolute;
  top: 264px;
  left: 1024px;
  background-color: var(--color-darkgoldenrod);
  width: 267px;
  height: 62px;
}
.danh-sch-nhn5,
.thm-nhn-vin5 {
  position: absolute;
  top: 264px;
  left: 1060px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 231px;
  height: 62px;
}
.danh-sch-nhn5 {
  left: 493px;
  text-decoration: underline;
  color: var(--color-black);
  width: 255px;
}
.add-icon5 {
  position: absolute;
  top: 269px;
  left: 1024px;
  width: 51px;
  height: 51px;
}
.xem-chi-tit-thng-tin-nhn-vi-child26 {
  position: absolute;
  top: 379px;
  left: 516px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 323px;
}
.nh-ca-nhn2 {
  position: absolute;
  top: 565px;
  left: 948px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 122px;
}
.border-color-icon5,
.broken-image-icon2 {
  position: absolute;
  top: 501px;
  left: 1069px;
  width: 79px;
  height: 80px;
}
.broken-image-icon2 {
  left: 951px;
  width: 97px;
}
.blank-line12 {
  margin: 0;
}
.m-nhn-vin-container28 {
  line-break: anywhere;
  width: 100%;
}
.m-nhn-vin-container27,
.nguyn-phc-long17 {
  position: absolute;
  top: 460px;
  left: 536px;
  font-size: var(--font-size-11xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 320px;
  height: 209px;
}
.nguyn-phc-long17 {
  top: 385px;
  font-size: var(--font-size-17xl);
  width: 412px;
  height: 75px;
}
.xem-chi-tit-thng-tin-nhn-vi-child27 {
  position: absolute;
  top: 722px;
  left: 516px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 105px;
}
.phm-minh-lc14 {
  position: absolute;
  top: 737px;
  left: 536px;
  font-size: var(--font-size-17xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 412px;
  height: 75px;
}
.list-icon39,
.list-icon40 {
  position: absolute;
  top: 729px;
  left: 1158px;
  width: 92px;
  height: 92.01px;
}
.list-icon40 {
  top: 386px;
}
.xem-chi-tit-thng-tin-nhn-vi-child28 {
  position: absolute;
  top: 470px;
  left: 519px;
  width: 758px;
  height: 2.01px;
  mix-blend-mode: lighten;
}
.xem-chi-tit-thng-tin-nhn-vi-child29,
.xem-chi-tit-thng-tin-nhn-vi-child30,
.xem-chi-tit-thng-tin-nhn-vi-child31 {
  position: absolute;
  top: 471.5px;
  left: 1168.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 230px;
}
.xem-chi-tit-thng-tin-nhn-vi-child30,
.xem-chi-tit-thng-tin-nhn-vi-child31 {
  left: 1055.5px;
}
.xem-chi-tit-thng-tin-nhn-vi-child31 {
  left: 942.5px;
}
.chnh-sa1,
.delete-icon1,
.xa2 {
  position: absolute;
  top: 501px;
  left: 1176px;
  width: 91px;
  height: 80px;
}
.chnh-sa1,
.xa2 {
  top: 600px;
  left: 1041px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 46px;
}
.xa2 {
  left: 1148px;
}
.admin14,
.shield-person-icon14 {
  position: absolute;
  top: 294px;
  left: 107px;
  width: 85px;
  height: 85px;
}
.admin14 {
  top: 313px;
  left: 178px;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 66px;
  height: 31px;
}
.xem-chi-tit-thng-tin-nhn-vi1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
