.rectangle-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 839px;
  object-fit: cover;
}
.xa-nhn-vin-child11 {
  position: absolute;
  top: 136px;
  left: 0;
  border-radius: var(--br-17xl);
  background-color: var(--color-darkgoldenrod);
  width: 1440px;
  height: 948px;
}
.admin7,
.xa-nhn-vin-child12 {
  position: absolute;
  top: 191.5px;
  left: 89px;
  width: 1262px;
  height: 786px;
}
.admin7 {
  top: 313px;
  left: 178px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 66px;
  height: 31px;
}
.artboard-1-1-17,
.shield-person-icon7 {
  position: absolute;
  top: 294px;
  left: 107px;
  width: 85px;
  height: 85px;
}
.artboard-1-1-17 {
  top: 874px;
  left: 105px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.bng-chm-cng2 {
  position: absolute;
  top: 531px;
  left: 194px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.xa-nhn-vin-child13 {
  position: absolute;
  top: 428px;
  left: 93px;
  background-color: var(--color-darkgoldenrod);
  width: 337px;
  height: 102px;
}
.paid-icon7,
.sua2-icon {
  position: absolute;
  top: 512px;
  left: 73px;
  width: 123px;
  height: 120.97px;
}
.paid-icon7 {
  top: 643px;
  left: 88px;
  width: 107.5px;
  height: 107px;
}
.xa-nhn-vin-child14,
.xa-nhn-vin-child15,
.xa-nhn-vin-child16 {
  position: absolute;
  top: 749.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.xa-nhn-vin-child15,
.xa-nhn-vin-child16 {
  top: 642.5px;
}
.xa-nhn-vin-child16 {
  top: 531.5px;
}
.xa-nhn-vin-child17,
.xa-nhn-vin-child18 {
  position: absolute;
  top: 186.48px;
  left: 433.5px;
  filter: blur(4px);
  border-right: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 1px;
  height: 792.02px;
}
.xa-nhn-vin-child18 {
  top: 175.5px;
  left: 93.5px;
}
.arrow-back-icon7 {
  position: absolute;
  top: 211px;
  left: 107px;
  width: 48px;
  height: 48px;
}
.xa-nhn-vin-child19 {
  position: absolute;
  top: 424.5px;
  left: 88.5px;
  filter: blur(4px);
  border-top: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 346px;
  height: 1px;
}
.tnh-lng11 {
  position: absolute;
  top: 643px;
  left: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.xa-nhn-vin-child20 {
  position: absolute;
  top: 246px;
  left: 489px;
  border-radius: var(--br-xl);
  width: 816px;
  height: 678px;
}
.xa-nhn-vin-child21,
.xa-nhn-vin-child22 {
  position: absolute;
  background-color: var(--color-darkgoldenrod);
}
.xa-nhn-vin-child21 {
  top: 505px;
  left: 516px;
  border-radius: var(--br-xl);
  width: 761px;
  height: 105px;
}
.xa-nhn-vin-child22 {
  top: 264px;
  left: 1024px;
  width: 267px;
  height: 62px;
}
.danh-sch-nhn2,
.thm-nhn-vin2 {
  position: absolute;
  top: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
}
.thm-nhn-vin2 {
  left: 1060px;
  color: var(--color-white);
  width: 231px;
}
.danh-sch-nhn2 {
  left: 493px;
  text-decoration: underline;
  width: 255px;
}
.add-icon2 {
  position: absolute;
  top: 269px;
  left: 1024px;
  width: 51px;
  height: 51px;
}
.xa-nhn-vin-child23 {
  position: absolute;
  top: 373px;
  left: 517px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 761px;
  height: 105px;
}
.nguyn-phc-long10,
.phm-minh-lc7 {
  position: absolute;
  top: 385px;
  left: 533px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
  width: 412px;
  height: 75px;
}
.phm-minh-lc7 {
  top: 520px;
}
.list-icon19,
.list-icon20 {
  position: absolute;
  top: 373px;
  left: 1176px;
  width: 92px;
  height: 92.01px;
}
.list-icon20 {
  top: 512px;
}
.xa-nhn-vin-child24 {
  position: absolute;
  top: 336px;
  left: 445px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgoldenrod);
  width: 620px;
  height: 351px;
}
.xa-nhn-vin-child25 {
  position: absolute;
  top: 521px;
  left: 792px;
  background-color: var(--color-white);
  width: 212px;
  height: 51px;
}
.hy4 {
  position: absolute;
  top: 522px;
  left: 797px;
  font-size: var(--font-size-17xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 46px;
}
.xa-nhn-vin-child26 {
  position: absolute;
  top: 521px;
  left: 515px;
  background-color: var(--color-white);
  width: 212px;
  height: 51px;
}
.bn-mun-xa,
.xa1 {
  position: absolute;
  top: 365px;
  left: 507px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 482px;
  height: 107px;
}
.xa1 {
  top: 522px;
  left: 521px;
  color: var(--color-firebrick);
  width: 199px;
  height: 46px;
}
.badge-icon7,
.sua1 {
  position: absolute;
  top: 423px;
  left: 89px;
  width: 107px;
  height: 108.01px;
}
.sua1 {
  top: 425px;
  left: 196px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 106px;
}
.xa-nhn-vin1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-source-sans-pro);
}
